@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');


h1 {
    color: blue;
    font-size: 60px;
}

h1, h2, h3, h4{
    color:rgba(0, 0, 255, 0.6);
}

#nav {
    background-color:rgba(255, 255, 255);
    font-size: 20px;
    display: flex;
    padding: 20px 10px;
    margin: 0 -20px 0 -20px;
    font-family: 'Comfortaa', cursive;
    color: black;
}

#nav a {
    letter-spacing: -1px;
    text-decoration: none;
}

#nav .floatright a {
    padding:7px 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    color:black;
}

#nav a:hover {
    color: blue;
}

.round {
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: blue;
    max-width: 200px;
    margin: 10px;
    transition: transform .2s ease-in-out;
}

.round:hover {
    transform: scale(1.05);
    
}

body {
    max-width: 680px;
    margin: auto;
    background: url(background.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: rgba(0, 0, 0, 0.6);
    padding:0 10px;
}

.icon {
    width: 20px;
    margin-right: 0 10px;
}

.icon:hover {
    opacity:75%;
}

.icon2 {
    width: 50px;
    margin-right: 0 10px;
}

.icon2:hover {
    opacity:75%;
}


#footer {
    clear: both;
    background-color: white;
    background-size: 100%;
    margin: 10px -20px 0 -20px;
    padding: 10px;
}

.flexcontainer {
    display:flex;
    align-items:center;
    justify-content: space-evenly;
    
}

.floatright {
    margin: auto 0 auto auto;
}

.floatleft{
    float:left;
    width: 50%;
    padding: 10px 0;
    /* position:fixed; */
}

